<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="left-column">
          <h3><b>¡Quéjate!</b></h3>
          <br />

          <h4>
            No todo es color de rosa. Es imposible que todo el día, todos los
            días, sintamos alegría y positivismo. Somos seres humanos y tenemos
            derecho a quejarnos.
          </h4>
          <br />

          <h3><b>!Qué tu queja cuente!</b></h3>
          <br />

          <app-validacion></app-validacion>

          <br />
          <ul>
            <li>
              <a routerLink="/ver-quejas"> Ver quejas </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <div class="right-column">
          <h3>
            <b
              >Proporcionamos un espacio para la expresión de opiniones y
              experiencias</b
            >
          </h3>
          <br />

          <h4>
            Quejarse puede convertirse en una forma de aliviarnos del estrés,
            aligera nuestra carga mental y nos facilita la obtención de nuevas
            perspectivas. Igualmente, nos puede servir para conectar con otras
            personas, que comparten nuestras preocupaciones.
          </h4>
          <br />

          <app-form-queja></app-form-queja>
        </div>
      </div>
    </div>
  </div>
</body>
